{{> header}}
{{> navbar }}
    <div class="row">
       <div class="col-8">
           <h1>Team</h1>
           <p>
               textooososdsd
           </p>
       </div>
       <div class="col-4"></div>
       <img src="assets/img/img.jpeg" class="img-thumbnail">
    </div>

{{> footer}}
